.valid-password-check {
  color: #aeffb6;
}

.invalid-password-check {
  color: #f58989;
}

.checkContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
